<!DOCTYPE html>
<html>
  <head>
    <title>CalendarSubscriptionSync</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
  <% if Rails.env.development? %>
    <h1><%= controller_name %>#<%= action_name %></h1>
    <h1>
      <% if current_user %>
        current_user: <%= "#{current_user&.id} #{current_user&.email}" %>
      <% else %>
        not signed in
      <% end %>
    </h1>
  <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
